doctype html

html
  head
    title Dance Academy
    block scripts
    block style 
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/logo.png")
                | HDA
            li #[a(href="/") Home]
            li #[a(href="/about") About]
            li #[a(href="/class-info") Class Info]
            li #[a(href="/contact") Contact Us]
            li #[a(href="/uploadform") upload Video]
    
    block content
    
    footer#footer
        | copyright @ 2022 Dance Academy | All Rights Reserved
