//- index.pug
doctype html
html
  head
    title Harry Dance Academy
    style
      include ../static/style.css
  body
    nav.hovernav-bar
        ul
            div#logo
                img(src="/static/img/logo.png")
                | HDA
            li #[a(href="/", class="glow") Home]
            li #[a(href="/", class="glow") About]
            li #[a(href="/", class="glow") Services]
            li #[a(href="/", class="glow") Class Info]
            li #[a(href="/", class="glow") Contact Us]
    
    section#introSection
        div Welcome to Harry's Dance Academy
        div.small Eat Sleep Dance Repeat

    section#missionSection
        h2 Our Mission
        div.card
            h3 Dance Perfection
            div.card-box
                div.card-img
                    img(src="/static/img/1.png")
                div.card-content
                    p This is the best dance academy of the universe
        div.card
            h3 Dance the way you like
            div.card-box
                div.card-img
                    img(src="/static/img/2.png")
                div.card-content
                    p This is the best dance academy of the universe
        div.card
            h3 Expert Teaching
            div.card-box
                div.card-img
                    img(src="/static/img/3.png")
                div.card-content
                    p This is the best dance academy of the universe

    section#sponsorsSection
        h2 Our Sponsors
        div#sponsors
            img(src="/static/img/logo1.png", alt= "sponsor image", class = "sp-image")
            img(src="/static/img/logo2.png", alt= "sponsor image", class = "sp-image")   
            img(src="/static/img/logo3.png", alt= "sponsor image", class = "sp-image")
            img(src="/static/img/logo4.png", alt= "sponsor image", class = "sp-image")
    footer#footer
        | copyright @ 2019 Harry Dance Academy | All Rights Reserved
    script
      include ../static/index.js
