extends base.pug

block scripts 
    script(src="/static/index.js")


block style 
    style
        include ../static/style.css
        include ../static/styleuploadform.css
        
block content
    div.container 
        form(action="uploadform",method="POST", class="myclass")
            input(type="file", name="file", class="btn-2")
            input(type="submit", name="upload", class="myclass3")
